$color-background: linear-gradient(93.82deg, #6c5ae0 -1.6%, #806eff 105.56%);
$color-primary-shade-1: hsla(249, 53%, 10%, 1);
$color-primary-shade-3: hsla(248, 48%, 43%, 1);
$color-primary-shade-4: hsla(248, 68%, 62%, 1);
$color-primary-shade-8: hsla(238, 90%, 92%, 1);
$color-highlight: hsla(41, 86%, 63%, 1);
$color-highlight-shade-4: hsla(41, 86%, 69%, 1);
$color-gray-100: hsla(218, 11%, 15%, 1);
$color-gray-80: hsla(214, 11%, 44%, 1);
$color-gray-70: hsla(212, 11%, 55%, 1);
$color-gray-60: hsla(211, 11%, 63%, 1);
$color-gray-30: hsla(213, 10%, 83%, 1);
$color-gray-20: hsla(214, 13%, 90%, 1);
$color-gray-10: hsla(210, 17%, 95%, 1);
$color-white: hsla(0, 0%, 100%, 1);

$shadow-md: 0px 8px 18px rgba(33, 36, 41, 0.16);
