@import './styles/colors';
@import './styles/typography';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family-body;
  font-optical-sizing: auto;
  font-kerning: normal;
  font-style: normal;
  background: $color-background;
  color: $color-white;
}

@import './styles/transitions';
