@import './styles/colors';
@import './styles/typography';
@import './styles/transitions';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family-body;
  font-optical-sizing: auto;
  font-kerning: normal;
  font-style: normal;
  background: $color-background;
  color: $color-white;
}

ul {
  list-style-position: inside;
  padding-left: 8px;
}

a {
  color: inherit;

  transition: $transition-ease-in;

  &:hover {
    opacity: 0.8;
  }
}

@import './styles/globals';
